In [10]:
import psycopg2 as ps
import pandas as pd

In [5]:
try:
    conn = ps.connect(database='twitter', user='admin', password='admin123')
    print("Connection succesfull.")
except Exception as e: print(e)

Connection succesfull.

In [8]:
command = '''SELECT TT.TWEET_ID, TT.TWEET_USER_ID, TU.USER_NAME, TU.USER_LOCATION, 
                 TT.TWEET_TEXT, TT.TWEET_CREATED, TT.TWEET_COORDINATES, TT.TWEET_PLACE 
                 FROM TWITTERTWEET AS TT INNER JOIN TWITTERUSER AS TU 
                 ON TT.TWEET_USER_ID=TU.USER_ID;'''

try:
    cursor = conn.cursor()
    cursor.execute(command)
    data = cursor.fetchall()
except Exception as e: print(e)

cursor.close()

In [11]:
df = pd.DataFrame(data, columns=['tweetid', 'userid', 'username', \
                'userloc', 'tweet', 'date', 'coords', 'place'])

In [37]:
df.place.describe()

count     184
unique      1
top
freq      184
Name: place, dtype: object

In [4]:
conn.close()